.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0px;
  max-width: 880px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;

  max-width: 880px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;
  margin: 0px;
  padding: 0px;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
}

.card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 282px;
  height: 282px;
}

.card__text {
  max-width: 222px;
  width: 222px;
  margin: 25px 2px 31px 21px;

  font-family: "InterDisplay", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  text-align: start;
  color: #000000;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  margin: 27px 0px 33px 0px;
  width: 21px;
  height: 19px;
  background-image: url('../images/Content-Card-LikeButton.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.card__like-button:hover {
  opacity: 50%;
}

.card__like-button:active {
  background-color: rgb(0, 0, 0);
}


.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-image: url('../images/Content-Card-DeleteButton.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.card__delete-button:hover {
  opacity: 50%;
}

.card__delete-button:active {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 896px) {
  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    margin: 36px auto 0px;
    max-width: 282px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    max-width: 282px;
  }
}
